<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <!-- Generated: 2018-03-27 13:25:03 +0200 -->
    <title th:text="#{SYSTEM_TITLE}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <!-- Dashboard Core -->
    <link th:href="@{/plugins/assets/css/dashboard.css}" rel="stylesheet"/>
    <link th:href="@{/css/article.css}" rel="stylesheet"/>
    <link th:href="@{/css/loading.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/core.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/jquery.sparkline.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/selectize.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/jquery.tablesorter.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/jquery-jvectormap-2.0.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/jquery-jvectormap-de-merc.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/jquery-jvectormap-world-mill.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/circle-progress.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/dashboard.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.2/dist/sweetalert2.all.min.js"></script>

</head>
<body class="">
<div class="page">
    <div class="page-main">
        <div th:replace="admin/index :: admin-header"></div>
        <div class="header-nav d-none d-lg-flex" th:fragment="admin-header-nav">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a href="/admin" class="nav-link"><i class="fe fe-home"></i> 首页</a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/users" class="nav-link"><i class="fe fe-box"></i> 用户</a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/tags" class="nav-link active"><i class="fe fe-box"></i> 标签</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-title">
                        添加标签
                    </h1>
                </div>
                <div class="row row-cards">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="row gutters-xs">
                                <div class="col">
                                    <input type="text" class="form-control" id="tagTitle">
                                </div>
                                <span class="col-auto">
                                  <button class="btn btn-primary" type="button" onclick="addTag()"> 提交</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="index :: footer"></footer>
</div>
<script>
    function addTag() {
        $.post("/tag/add",{tagTitle: $("#tagTitle").val()},function (data) {
            if(data.success){
                window.location.href = "/tag/update/"+data.data.id;
            }else {
                swal({
                    text: data.message,
                    type:'info'
                })
            }
        })
    }
</script>
</body>
</html>