<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <!-- Generated: 2018-03-27 13:25:03 +0200 -->
    <title th:text="#{SYSTEM_TITLE}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <link th:href="@{/plugins/editor/css/editormd.css}" rel="stylesheet"/>
    <!-- Dashboard Core -->
    <link th:href="@{/plugins/assets/css/dashboard.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/core.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/jquery.sparkline.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/selectize.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/jquery.tablesorter.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/jquery-jvectormap-2.0.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/jquery-jvectormap-de-merc.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/jquery-jvectormap-world-mill.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/circle-progress.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/dashboard.js}"></script>
    <link th:href="@{/css/article.css}" rel="stylesheet"/>

</head>
<body class="">
<div class="page">
    <div class="page-main">
        <div class="page-content">
            <div class="page-main post">
                <div class="header">
                    <div class="row">
                        <div class="col">
                            <input type="text" id="articleTitle" class="form-control" autocomplete="off" placeholder="请输入标题" />
                        </div>
                    </div>
                </div>
                <div class="page-content">
                    <div id="article-editor"></div>
                    <div class="row">
                        <div class="col">
                            <input type="text" id="articleTags"  class="form-control" placeholder="标签（请使用逗号分隔每个标签，最多 4 个，每个最长 9 字符）" autocomplete="off" />
                            <br/>
                            <div class="wrapper">
                                <input type="button" class="btn btn-primary" style="float: right" id="post" value="发布"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/plugins/editor/editormd.js}"></script>
<script type="text/javascript" th:src="@{/plugins/assets/js/vendors/selectize.min.js}"></script>
<script type="text/javascript">
    var articleEditor;
    $(document).ready(function () {
        articleEditor = editormd("article-editor", {
            width: "100%",
            height: 520,
            path : '/plugins/editor/lib/',
            codeFold : true,
            //syncScrolling : false,
            saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
            searchReplace : true,
            //watch : false,                // 关闭实时预览
            //htmlDecode : "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启
            //toolbar  : false,             //关闭工具栏
            toolbarIcons: function(){
                return ["emoji","bold","italic","quote","link","image","list-ul","list-ol","html-entities","watch","help"];
            },
            toolbarIconsClass : {
                image : "fa-cloud-upload"  // 指定一个FontAawsome的图标类
            },
            //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
            emoji : true,
            taskList : true,
            tocm : true,         // Using [TOCM]
            tex : true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart : true,             // 开启流程图支持，默认关闭
            sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
            //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
            //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
            //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
            //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
            //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
            placeholder: "请输入正文",
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/article/upload",
            onload : function() {

            }
        });

        $('#articleTags').selectize({
            delimiter: ',',
            persist: false,
            create: function (input) {
                return {
                    value: input,
                    text: input
                }
            }
        });

        $("#post").on("click",function(){
            var articleTitle = $("#articleTitle").val();
            var articleContent = articleEditor.getMarkdown();
            var articleTags = $("#articleTags").val();
            $.post("/article/add",{"articleTitle":articleTitle,"articleContent":articleContent,"articleTags":articleTags},function (data) {
                
            })
        })
    })

</script>
</html>