#articleToC {
    position: fixed;
    top: 0;
    width: 18%;
    z-index: -1;
    right: 0;
    height: 100%;
    border-radius: 0;
    background-color: #f1f7fe;
}

#articleToC > .markdown-toc {
    padding: 10px;
}
