<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <!-- Generated: 2018-03-27 13:25:03 +0200 -->
    <title th:text="#{SYSTEM_TITLE}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <!-- Dashboard Core -->
    <link th:href="@{/plugins/assets/css/dashboard.css}" rel="stylesheet"/>
    <link th:href="@{/css/article.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/core.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/jquery.sparkline.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/selectize.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/jquery.tablesorter.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/jquery-jvectormap-2.0.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/jquery-jvectormap-de-merc.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/jquery-jvectormap-world-mill.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/vendors/circle-progress.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/assets/js/dashboard.js}"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body class="">
<div class="page">
    <div class="page-main">
        <div class="header" th:fragment="header">
            <div class="container">
                <div class="d-flex">
                    <a class="navbar-brand" href="/">
                        <img src="/images/logo/logo.jpg" class="navbar-brand-img" alt="tabler.io">
                        <span>罗吉网</span>
                    </a>
                    <div class="ml-auto d-flex order-lg-2">
                        <div class="dropdown d-none d-md-flex">
                            <a class="nav-link icon" href="/article/post">
                                发帖
                            </a>
                        </div>
                        <div class="dropdown d-none d-md-flex">
                            <a class="nav-link icon" data-toggle="dropdown">
                                <i class="fe fe-bell"></i>
                                <span class="nav-unread"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow px-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto
                                asperiores dolorem, est fugiat in maxime natus officia velit voluptas! Ab asperiores
                                delectus dolore dolores maxime nesciunt qui quia totam.
                            </div>
                        </div>
                        <div class="dropdown d-none d-md-flex">
                            <a class="nav-link icon" href="/admin">
                                <i class="fe fe-user"></i>
                            </a>
                        </div>
                        <div class="dropdown">
                            <a href="#" class="nav-link pr-0" data-toggle="dropdown">
                                <span class="avatar" style="background-image: url(/plugins/demo/faces/female/25.jpg)"></span>
                                <span class="ml-2 d-none d-lg-block">
                      <span class="text-default">Jane Pearson</span>
                      <small class="text-muted d-block mt-1">Administrator</small>
                    </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="#">
                                    <span>Profile</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span>Settings</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="float-right"><span class="badge badge-primary">6</span></span>
                                    <span>Inbox</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span>Message</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Need help? </a>
                                <a class="dropdown-item" href="#">Sign out</a>
                            </div>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse order-lg-1" id="navbarToggler">
                        <ul class="navbar-nav mt-2 mt-lg-0 mx-0 mx-lg-2">
                            <li class="nav-item"><a href="#" class="nav-link">Dashboard</a></li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Projects</a>
                                <div class="dropdown-menu mt-2 text-color" role="menu">
                                    <a href="#" class="dropdown-item"><i class="dropdown-icon fa fa-tag"></i> Action
                                    </a>
                                    <a href="#" class="dropdown-item"><i class="dropdown-icon fa fa-pencil"></i> Another
                                        action </a>
                                    <a href="#" class="dropdown-item"><i class="dropdown-icon fa fa-reply"></i>
                                        Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item"><i class="dropdown-icon fa fa-ellipsis-h"></i>
                                        Separated link</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav d-none d-lg-flex" th:fragment="header-nav">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a href="/" class="nav-link active"><i class="fe fe-home"></i> 首页</a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link"><i class="fe fe-box"></i> 发现</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3 ml-auto">
                        <form class="input-icon">
                            <input type="search" class="form-control header-search" placeholder="Search&hellip;"
                                   tabindex="1">
                            <div class="input-icon-addon">
                                <i class="fe fe-search"></i>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content">
            <div class="container">
                <div class="row row-cards row-deck">
                    <div class="col-xl-8">
                        <div class="container" th:each="article,articleState : ${list}">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body d-flex flex-column">
                                        <h4><a th:href="${article.articlePermalink}" th:text="${article.articleTitle}"></a></h4>
                                        <div class="text-muted article-summary-md" th:text="${article.articleSummary}">
                                        </div>
                                        <div class="d-flex align-items-center pt-5 mt-auto">
                                            <div class="avatar avatar-md mr-3"
                                                 th:style="'background-image: url('+${article.thinker.userAvatarUrl}+')'">
                                            </div>
                                            <div>
                                                <a th:href="${article.thinker.userUrl}" class="text-default" th:text="${article.thinker.userName}" ></a>
                                                <small class="d-block text-muted" th:text="${article.timeAgo}"></small>
                                            </div>
                                            <div class="ml-auto text-muted">
                                                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i
                                                        class="fe fe-heart mr-1"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="container">
                        <div class="col-md-12 col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">优质推荐</h3>
                                </div>
                                <div class="card-body o-auto" style="height: 15rem">
                                    <ul class="list-unstyled list-separated" th:each="article:${articles}">
                                        <li class="list-separated-item">
                                            <div class="row align-items-center">
                                                <div class="col-auto">
                                                    <a th:href="${article.thinker.userUrl}"><span class="avatar avatar-md d-block" th:style="'background-image: url('+${article.thinker.userAvatarUrl}+')'"></span></a>
                                                </div>
                                                <div class="col">
                                                    <div>
                                                        <a th:href="${article.articlePermalink}" class="text-inherit" th:text="${article.articleTitle}">Amanda Hunt</a>
                                                    </div>
                                                    <small class="d-block item-except text-sm text-muted h-1x article-summary-sd"  th:text="${article.articleSummary}">amanda_hunt@example.com</small>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">作者推荐</h3>
                                </div>
                                <div class="card-body o-auto" style="height: 15rem">
                                    <ul class="list-unstyled list-separated" th:each="thinker:${thinkers}">
                                        <li class="list-separated-item">
                                            <div class="row align-items-center">
                                                <div class="col-auto">
                                                    <span class="avatar avatar-md d-block" th:style="'background-image: url('+${thinker.userAvatarUrl}+')'"></span>
                                                </div>
                                                <div class="col">
                                                    <div>
                                                        <a th:href="${thinker.userUrl}" class="text-inherit" th:text="${thinker.nickName}"></a>
                                                    </div>
                                                    <small class="d-block item-except text-sm text-muted h-1x">amanda_hunt@example.com</small>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="item-action dropdown">
                                                        <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-heart"></i> 关注 </a>
                                                            <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-message-square"></i> 私信 </a>
                                                            <div class="dropdown-divider"></div>
                                                            <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i> Separated link</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer" th:fragment="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-auto ml-auto">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            Copyright © 2018 <a th:href="#{SYSTEM_URL}" th:text="#{SYSTEM_NAME}"></a>.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                    <span th:text="#{SLOGAN}"></span>
                </div>
            </div>
        </div>
    </footer>
</div>
<script>
    var timeAgo = function(time){
        console.log(time);
        return "1 小时前";
    }
</script>
</body>
</html>