<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voally.vertical.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.voally.vertical.entity.Article">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="DECIMAL" property="id" />
        <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
        <result column="article_tags" jdbcType="VARCHAR" property="articleTags" />
        <result column="article_thinker_id" jdbcType="VARCHAR" property="articleThinkerId" />
        <result column="article_permalink" jdbcType="VARCHAR" property="articlePermalink" />
        <result column="article_status" jdbcType="INTEGER" property="articleStatus" />
        <result column="article_type" jdbcType="INTEGER" property="articleType" />
        <result column="article_summary" jdbcType="VARCHAR" property="articleSummary" />
        <result column="article_create_time" jdbcType="LONGVARCHAR" property="articleCreateTime" />
        <result column="article_update_time" jdbcType="LONGVARCHAR" property="articleUpdateTime" />
        <result column="article_content" jdbcType="LONGVARCHAR" property="articleContent" />
    </resultMap>

    <resultMap id="getArticles" type="com.voally.vertical.api.entity.ArticleDTO">
        <id column="id" property="id"/>
        <result column="article_title" property="articleTitle"/>
        <result column="article_tags" property="articleTags"/>
        <result column="article_permalink" property="articlePermalink"/>
        <result column="article_summary" property="articleSummary"/>
        <result column="article_thinker_id" property="articleThinkerId"/>
        <result column="article_create_time" property="articleCreateTime"/>
    </resultMap>

    <select id="getArticles" resultMap="getArticles">
        SELECT A.ID,A.article_title,A.article_tags,A.article_permalink,A.article_summary, A.article_thinker_id, A.article_create_time FROM ARTICLE A
    </select>

    <select id="getArticlesByThinkerId" resultMap="getArticles">
        SELECT A.ID,A.article_title,A.article_tags,A.article_permalink,A.article_summary, A.article_thinker_id, A.article_create_time FROM ARTICLE A WHERE A.article_thinker_id = #{tinkerId}
    </select>

</mapper>