<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voally.vertical.mapper.TagMapper">
    <resultMap id="BaseResultMap" type="com.voally.vertical.entity.Tag">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="DECIMAL" property="id" />
        <result column="tag_title" jdbcType="VARCHAR" property="tagTitle" />
        <result column="tag_uri" jdbcType="VARCHAR" property="tagURI" />
        <result column="tag_icon_path" jdbcType="VARCHAR" property="tagIconPath" />
        <result column="tag_description" jdbcType="VARCHAR" property="tagDescription" />
        <result column="tag_status" jdbcType="INTEGER" property="tagStatus" />
        <result column="tag_reference_count" jdbcType="INTEGER" property="tagReferenceCount" />
        <result column="tag_follower_count" jdbcType="INTEGER" property="tagFollowerCount" />
    </resultMap>


    <select id="getTags" resultMap="BaseResultMap">
        SELECT ID, TAG_TITLE, TAG_URI, TAG_ICON_PATH, TAG_DESCRIPTION, TAG_STATUS, TAG_REFERENCE_COUNT, TAG_FOLLOWER_COUNT FROM TAG WHERE 1=1
        <if test="tagTitle != null and tagTitle != ''">
            <bind name="pattern" value="'%' + _parameter.tagTitle + '%'" />
            AND (TAG_TITLE LIKE #{pattern} OR TAG_URI LIKE #{pattern})
        </if>
        <if test="tagStatus != null and tagStatus != ''">
            AND TAG_STATUS = #{tagStatus}
        </if>
        <choose>
            <when test="orderBy == 'asc'">
                ORDER BY ID
            </when>
            <otherwise>
                ORDER BY ID DESC
            </otherwise>
        </choose>
    </select>

</mapper>