<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voally.vertical.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.voally.vertical.entity.User">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="user_no" jdbcType="INTEGER" property="userNo" />
        <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
        <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
        <result column="user_url" jdbcType="VARCHAR" property="userUrl" />
        <result column="user_avatar_type" jdbcType="INTEGER" property="userAvatarType" />
        <result column="user_avatar_url" jdbcType="VARCHAR" property="userAvatarUrl" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
        <result column="user_create_time" jdbcType="LONGVARCHAR" property="userCreateTime" />
        <result column="user_update_time" jdbcType="LONGVARCHAR" property="userUpdateTime" />
        <result column="user_status" jdbcType="INTEGER" property="userStatus" />
    </resultMap>

    <resultMap id="ThinkerResultMap" type="com.voally.vertical.api.entity.Thinker">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="user_no" jdbcType="INTEGER" property="userNo" />
        <result column="user_url" jdbcType="VARCHAR" property="userUrl" />
        <result column="user_avatar_url" jdbcType="VARCHAR" property="userAvatarUrl" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    </resultMap>

    <resultMap id="SimpleUserResultMap" type="com.voally.vertical.entity.User">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="user_avatar_type" jdbcType="INTEGER" property="userAvatarType" />
        <result column="user_avatar_url" jdbcType="VARCHAR" property="userAvatarUrl" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
        <result column="user_create_time" jdbcType="LONGVARCHAR" property="userCreateTime" />
        <result column="user_status" jdbcType="INTEGER" property="userStatus" />
    </resultMap>

    <select id="profile" resultMap="ThinkerResultMap">
        SELECT * FROM USER WHERE USER_NAME = #{userName}
    </select>
    <select id="getRecommendThinkers" resultMap="ThinkerResultMap">
        SELECT * FROM USER LIMIT 6
    </select>

    <select id="getUsers" resultMap="SimpleUserResultMap">
          SELECT ID, USER_AVATAR_TYPE, USER_AVATAR_URL, USER_NAME, NICK_NAME, USER_CREATE_TIME, USER_STATUS FROM USER WHERE 1=1
            <if test="userName != null and userName != ''">
                <bind name="pattern" value="'%' + _parameter.userName + '%'" />
              AND ( USER_NAME = #{pattern} OR NICK_NAME LIKE #{pattern} OR USER_EAMIL LIKE #{pattern} )
            </if>
            <if test="userStatus != null and userStatus != ''">
              AND USER_STATUS = #{userStatus}
            </if>
            <choose>
                <when test="orderBy == 'asc'">
                    ORDER BY USER_CREATE_TIME
                </when>
                <otherwise>
                    ORDER BY USER_CREATE_TIME DESC
                </otherwise>
            </choose>
    </select>

</mapper>