<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voally.vertical.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.voally.vertical.entity.User">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="user_no" jdbcType="INTEGER" property="userNo" />
        <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
        <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
        <result column="user_url" jdbcType="VARCHAR" property="userUrl" />
        <result column="user_avatar_type" jdbcType="INTEGER" property="userAvatarType" />
        <result column="user_avatar_url" jdbcType="VARCHAR" property="userAvatarUrl" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
    </resultMap>

</mapper>